#bubble,#bubble2,#bubble3{
    background-color:#e9e9e9;
    border-radius: 5px;
    border: 1px solid #dddddd;
    height: auto;
    display: none;
    padding: 10px 0;
}

#bubble div{
color: darkolivegreen;
height: auto;
margin: 10px;
font-weight: bold;
font-size: 14px;
}

#ldr{
    display: none;
    margin:0 20px 0 0;
}

#log{
    display: flex;
}
.btn-mgr{
    display: flex;
justify-content: center;
}